<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>navbar</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<link rel="stylesheet" href="/styles/main.css" />
<link rel="stylesheet" href="/styles/aboutUs.css" />
<body>
    <header>
        <img class="logo" src="/logo_aprg.png" alt="logo" />
        <nav>
            <ul class="nav__links">
                <li><a href="/features">Features</a></li>
                <li>seitenabh. var.</li>
                <li><a href="/aboutUs">About Us</a></li>
            </ul>
        </nav>
        <a class="cta" href="/login"><button>login</button></a>
    </header>
    <div class="about-section">
        <h1 class="fo">About Us Page</h1>
        <p class="fo">Some text about who we are and what we do.</p>
        <p class="fo">Resize the browser window to see that this page is responsive by the way.</p>
      </div>
      <div>
        
      </div>
      <h2 style="text-align:center">Our Team</h2>
        <div class="column">
          <div class="card">
            <img src="/w3images/team1.jpg" alt="gustav" style="width:100%">
            <div class="container">
              <h2 class="fooo">Prof. Med. Dr. Max Musterman</h2>
              <p class="fooo" class="title">CEO & Founder</p>
              <p class="fooo">bisschen fancy text dies das </p>
              <p class="fooo">test@example.com</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="#" alt="Moritz" style="width:100%">
            <div class="container">
              <h2>Mike Ross</h2>
              <p class="title">Art Director</p>
              <p>bisschen fancy text dies das </p>
              <p>test@example.com</p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <img src="#" alt="hubert" style="width:100%">
            <div class="container">
              <h2>John Doe</h2>
              <p class="title">Designer</p>
              <p>bisschen fancy text dies das </p>
              <p>test@example.com</p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>
      </div>
</body>
