<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/main.css" />

        <title>Features</title>
    </head>
    <body>
        <header>
            <img class="logo" src="/logo_aprg.png" alt="logo" />
            <nav>
                <ul class="nav__links">
                    <li><a href="/features">Features</a></li>
                    <li>seitenabh. var.</li>
                    <li><a href="/aboutUs">About Us</a></li>
                </ul>
            </nav>
            <a class="cta" href="/login"><button>login</button></a>
        </header>
        <h1>Ihre Features im Überblick</h1>
        <p>Termine einfach per Mausklick erstellen und bennenen</p>
        <img src="" />
        <h2>Praktisch auch für Teams</h2>
        <p>
            Durch Teilen des links und Freischalten mehrer Benutzer kann der
            Teamkalender von mehreren Personen bearbeitet werden. Der fertige
            Kalender ist für jeden freigeschalteten Nutzer zugänglich und kann
            mit dem eigenem dateisystem synchronisisert werden.
        </p>
        <img src="" />
        <h2>Einstellbare Benachrichtigung per Email</h2>
        <p>
            Wenn sie die Benachritigung einschalten können sie einstellen wann
            und wie oft sie über ihre Termine informiert werden wollen. Außerdem
            ist es möglich die Benachrichtigung als erledigt zu kennzeichnen.
        </p>
        <img src="" />
    </body>
</html>
