<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Calendar</title>
        <script
            src="https://kit.fontawesome.com/3765ae5d6c.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="/styleKalMo.css" type="text/css" />
    </head>
    <body>
        <main>
            <header class="header">
                <div class="weekControls">
                    <i id="prevWeekBtn" class="fa-solid fa-angles-left"></i>
                    <span id="weekDisplay">
                        <span id="weekStartDisp"></span>
                        -
                        <span id="weekEndDisp"></span>
                    </span>
                    <i id="nextWeekBtn" class="fa-solid fa-angles-right"></i>
                </div>

                <h1>Kalender</h1>

                <div class="generalControls">
                    <i class="fas fa-plus"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </header>
            <section id="kalender">
                <div class="switchable"></div>
                <div class="time">
                    <div></div>
                </div>
                <div data-name="Montag" data-dayInex="0" class="day"></div>
                <div data-name="Dienstag" data-dayInex="1" class="day"></div>
                <div data-name="Mittwoch" data-dayInex="2" class="day"></div>
                <div data-name="Donnerstag" data-dayInex="3" class="day"></div>
                <div data-name="Freitag" data-dayInex="4" class="day"></div>
                <div data-name="Samstag" data-dayInex="5" class="day"></div>
                <div data-name="Sonntag" data-dayInex="6" class="day"></div>
            </section>
        </main>

        <script
            src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"
        ></script>
        <script src="mainKalMo.js" type="module"></script>
    </body>
</html>
