<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form action="/login" method="POST">
            Benutzername<br>
            <input type="text" name="benutzername"><br>
            Passwort<br>
            <input type="password" name="passwort"><br>
            <button type="submit">Login</button>
    
        </form>

    </body>
</html>