<!DOCTYPE html>
<html>
    <head>
        <style>@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
            *{
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                background-color: rgb(66, 66, 66);
            }
            li, a, button {
                font-family:"Montserrat", sans-serif;
                font-weight: 500;
                font-size: 16px;
                color: rgb(255, 255, 255);
                text-decoration: none;
            }
            header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 30px 10%;
            }
            
            .logo {
                cursor: pointer;
            }
            .nav__links{
                list-style: none;
            }
            .nav__links li {
                display:inline-block;
                padding: 0% 20px;
            }
            .nav__links li a {
                transition: all 0.3s ease 0s;
            }
            .nav__links li a :hover {
                color:aqua;
            }
            button {
                padding: 9px 25px;
                background-color: rgb(128, 202, 178);
                border: none;
                border-radius: 50px;
                cursor: pointer;
                transition: all 0.3s ease 0s;
            
            }
            button:hover {
                background-color: rgb(23, 185, 131);
            
            }
            input{
                width: 200px;
                padding: 12px 20px;
                margin: 20px 0;
                box-sizing: border-box;
            }
            </style>
        <title></title>
    </head>
    <body>
        <header>
            <img scr="public\logo_aprg.png" alt="logo">
            <nav>
                <ul class="nav__links">
                    <li><a href="/features">Features</a></li>
                    <li>seitenabh. var.</li>
                    <li><a href="/aboutUs">About Us</a></li>
                </ul>
            </nav>
            <a class="cta" href="#"><button>registrierung</button></a>
            </header><center>
                <form action="/login" method="POST">
                    Benutzername<br>
                    <input type="text" name="benutzername"><br>
                    Passwort<br>
                    <input type="password" name="passwort"><br>
                    <button type="submit">Login</button>
            
                </form>
              <a href="" target="_blank">Forgot your Password?</a>
            </center> </body>
</html>