<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles/main.css">
    <title></title>
</head>

<body>
    <header>
        <img src="logo_aprg.png" alt="logo">
        <nav>
            <ul class="nav__links">
                <li><a href="/features">Features</a></li>
                <li>seitenabh. var.</li>
                <li><a href="/aboutUs">About Us</a></li>
            </ul>
        </nav>
        <a class="cta" href="#"><button>registrierung</button></a>
    </header>
    <center>
        <div class="container" style="color:#f1f1f1">
            <form action="/login" method="POST">
                <a>Benutzername</a>
                <br>
                <input type="text" name="benutzername"><br>
                <a>Passwort</a><br>
                <input type="password" name="passwort"><br>
                <button type="submit">Login</button>
                <a href="" target="_blank">Forgot your Password?</a>
            </form>
        </div>
    </center>
</body>
</html>