<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Login Form</title>
        <link rel="stylesheet" href="/styles/main.css" />
        <link rel="stylesheet" href="/styles/stylelogin.css" />
    </head>
    <header>
        <img class="logo" src="logo_aprg.png" alt="logo" />
        <nav>
            <ul class="nav__links">
                <li><a href="/features">Features</a></li>
                <li>seitenabh. var.</li>
                <li><a href="/aboutUs">About Us</a></li>
            </ul>
        </nav>
        <a class="cta" href="registrierung"><button>registrierung</button></a>
    </header>
    <body>
        <div class="center">
            <h1>Login</h1>
            <form action="/startseite" method="post">
                <div class="txt_field">
                    <input type="text" name="benutzername" required />
                    <span></span>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="passwort" required />
                    <span></span>
                    <label>Password</label>
                </div>
                <div class="pass">Forgot Password?</div>
                <input type="submit" value="Login" />
                <div class="signup_link">
                    Not a member?<a href="/login">Signup</a>
                </div>
            </form>
        </div>
    </body>
</html>
