<!DOCTYPE html>
<html>
    <head>
        <title>Registrierung</title>
        <link rel="stylesheet" href="/styles/main.css" />

    </head>
    <body>
        <header>
            <img class="logo" src="/logo_aprg.png" alt="logo" />
            <nav>
                <ul class="nav__links">
                    <li><a href="/features">Features</a></li>
                    <li>seitenabh. var.</li>
                    <li><a href="/aboutUs">About Us</a></li>
                </ul>
            </nav>
            <a class="cta" href="/login"><button>login</button></a>
        </header>
        
           <center> <div class="flex-container" style="color:#f1f1f1">
        <form action="/neuerBenutzer" method="POST">
            <a>Benutzername</a><br>
            <input type="text" name="name" /><br />
            <a>E-Mail</a><br>
            <input type="e-mail" name="email" /><br />
            <a>Passwort</a><br>
            <input type="password" name="passwort" /><br />
            <button type="submit">Registrieren</button><br />
        </div>
            <a href="login">Schon registriert? Hier einloggen</a>
        </form></center>
    </body>
</html>
