<!DOCTYPE html>
<html>
    <head>
        <title> Registrierung</title>
    </head>
    <body>
        <form action="/neuerBenutzer" method="POST">
        Benutzername<input type="text" name="name"><br>
        E-Mail<input type="e-mail" name="email"><br>
        Passwort<input type="password" name="passwort"><br>
        <button type="submit">Registrieren</button><br>
        <a href="login">Schon registriert? Hier einloggen</a>

        </form>
    </body>
</html>