<!DOCTYPE>
<html>
    <head>
        <title> Registrierung</title>
    </head>
    <body>
        <form action="/startseite" method="POST">
        <h1> Benutzername</h1><input>

        </form>
    </body>
</html>