<!--  ich hab schonmal mit dem code für die navigationsleiste angefangen:
https://www.youtube.com/watch?v=PwWHL3RyQgk der css part wird aber noch nicht
richtig erkannt -->
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>navbar</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/startseite.css" />

    <img class="front1" src="/Kalender Beispiel.jpeg" alt="front1" />
    <img class="front2" src="/work front.jpg" alt="front2" />
</head>
<body>
    <header>
        <img class="logo" href="/startseite" src="/logo_aprg.png" alt="logo" />
        <nav>
            <ul class="nav__links">
                <li><a href="/startseite">Startseite</a></li>
                <li><a href="/kalender">Kalender</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
            <a class="cta" href="login"  id="loginButton"><button>login</button></a>    
             

        
    </header>
    <form class="form1">
        <h1>Hebt die Wochenplanung auf ein neues level</h1>
        <p>Termine einfach per Mausklick erstellen und bennenen</p>
        <h2></h2>
        <p>
            Durch einfache Bearbeitungsmöglichkeiten wie Farbanpassungen oder Zeitangaben 
            lässt sich ihr Kalender übersichtlich gestallten und hilft bei der Wochenplanung.
            Die Benennungen sind in der Wochenansicht zu sehen und sorgen für schnellen Überblick.
        </p>
    </form>

    <form class="form2">
        <h1>Einstellbare Benachrichtigung per Email</h1>
        <p>
            Wenn sie die Benachritigung einschalten können sie einstellen wann
            und wie oft sie über ihre Termine informiert werden wollen. Außerdem
            ist es möglich die Benachrichtigung als erledigt zu kennzeichnen.
        </p>
    </form>

    <script
    src="https://code.jquery.com/jquery-3.6.1.js"
    integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"
></script>
<script src="server.js" type="module"></script>
</body>
<html></html>
